In [2]:
import numpy as np
import pandas as pd
import os
import ast
import pyam
import matplotlib.pyplot as plt
import report_pdf
import argparse
import translation_helpers

In [3]:
# Folders with input and output files
folder_name_to_convert = "File_To_Convert"
folder_name_converted = "File_Converted"

# Get current folder
folder_path = os.getcwd()

In [4]:
# Get the paths of files to be translated
def get_path_files(folder_path):
    # Get a list of all files in the folder
    filenames = os.listdir(folder_path)

    # Filter Excel and CSV files
    files_path = [
        os.path.join(folder_path, filename)
        for filename in filenames
        if filename.endswith(".xlsx") or filename.endswith(".xls") or filename.endswith(".csv")
    ]

    if not files_path:
        print("No files found in the folder.")
        return None  # No Excel files found
  
    # Return the paths to the Excel files
    return files_path

folder_path_input_files = os.path.join(folder_path, folder_name_to_convert)
print(folder_path_input_files)

files = get_path_files(folder_path_input_files)

# Print the name of the files to be translated
print("Files to translate:")
for f in files:
    print(os.path.basename(f))

c:\GONZALO\GEEDS\WILLIAM_DEVELOPMENT\wiliamcformat\IAMC_format\Final_script\File_To_Convert
Files to translate:
Baseline no policies no CO2tax.csv

In [5]:
# Get the name and extension of the files to be converted
files_name_extension = [os.path.splitext(os.path.basename(f)) for f in files]

# Scenarios are the name of original files
scenarios = [os.path.splitext(os.path.basename(f))[0] for f in files]
print(scenarios)

['Baseline no policies no CO2tax']

In [189]:
# Read the files
index = 0
df_original = {}
while index < len(files):
    if (
        files_name_extension[index][1] == ".xls"
        or files_name_extension[index][1] == ".xlsx"
    ):
        df_original[scenarios[index]] = pd.read_excel(files[index], low_memory=False)
    elif files_name_extension[index][1] == ".csv":
        df_original[scenarios[index]] = pd.read_csv(files[index], low_memory=False)
    index += 1

In [190]:
# Delete this block for the script
df_original['Policies']
df_original['Baseline no policies no CO2tax']

,Time,Year,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2005,2006,2007,2008,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,world_PE_by_commodity,EJ/Year,PE_agriculture_products,NaN,NaN,NaN,0.028242,1.057450,1.265620,1.713050,...,2.948760,2.824390,2.727550,2.623520,2.632230,2.47606,2.401450,2.344890,2.263520,2.172020
1,world_PE_by_commodity,EJ/Year,PE_coal,NaN,NaN,NaN,139.888000,142.536000,145.529000,148.652000,...,239.392000,238.914000,242.655000,247.283000,252.159000,248.07700,251.761000,254.646000,253.793000,249.484000
2,world_PE_by_commodity,EJ/Year,PE_oil,NaN,NaN,NaN,202.483000,200.246000,200.156000,199.572000,...,170.113000,162.348000,159.496000,158.317000,158.668000,151.41400,150.100000,147.932000,144.727000,139.896000
3,world_PE_by_commodity,EJ/Year,PE_forestry_products,NaN,NaN,NaN,37.127500,37.334300,37.479100,37.766300,...,98.841200,98.722100,101.700000,105.143000,108.929000,106.94800,109.672000,112.871000,112.351000,111.132000
4,world_PE_by_commodity,EJ/Year,PE_geothermal,NaN,NaN,NaN,0.240555,0.249827,0.257823,0.267857,...,7.077130,6.729580,6.799890,6.949150,7.092140,6.82465,6.960060,6.905350,6.840980,6.567220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171137,Fe_hidden_resources,Mt,LOW_GRADE,NaN,NaN,NaN,128992.000000,127935.000000,126830.000000,125688.000000,...,66756.000000,65861.200000,64974.700000,64096.800000,63227.400000,62366.50000,61514.200000,60670.500000,59835.300000,59008.800000
171138,Fe_hidden_resources,Mt,ULTRALOW_GRADE,NaN,NaN,NaN,176000.000000,175990.000000,175978.000000,175963.000000,...,132301.000000,130580.000000,128867.000000,127163.000000,125469.000000,123787.00000,122116.000000,120458.000000,118813.000000,117183.000000
171139,Fe_hidden_resources,Mt,TRACE_GRADE,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
171140,Fe_hidden_resources,Mt,OCEANS_GRADE,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
171141,relative_RURR_Fe,NaN,NaN,NaN,NaN,NaN,0.915460,0.913680,0.911307,0.908839,...,0.630595,0.620819,0.611116,0.601502,0.591982,0.58256,0.573236,0.564014,0.554894,0.545877

In [211]:
# Remove duplicated rows in the file.
df_duplicates_removed = {}
for scen in scenarios:
    df_duplicates_removed[scen] = df_original[scen].drop_duplicates().copy()

In [212]:
# Delete this block for the script
df_duplicates_removed['Baseline no policies no CO2tax']

,Time,Year,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2005,2006,2007,2008,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,world_PE_by_commodity,EJ/Year,PE_agriculture_products,NaN,NaN,NaN,0.028242,1.057450,1.265620,1.713050,...,2.948760,2.824390,2.727550,2.623520,2.632230,2.47606,2.401450,2.344890,2.263520,2.172020
1,world_PE_by_commodity,EJ/Year,PE_coal,NaN,NaN,NaN,139.888000,142.536000,145.529000,148.652000,...,239.392000,238.914000,242.655000,247.283000,252.159000,248.07700,251.761000,254.646000,253.793000,249.484000
2,world_PE_by_commodity,EJ/Year,PE_oil,NaN,NaN,NaN,202.483000,200.246000,200.156000,199.572000,...,170.113000,162.348000,159.496000,158.317000,158.668000,151.41400,150.100000,147.932000,144.727000,139.896000
3,world_PE_by_commodity,EJ/Year,PE_forestry_products,NaN,NaN,NaN,37.127500,37.334300,37.479100,37.766300,...,98.841200,98.722100,101.700000,105.143000,108.929000,106.94800,109.672000,112.871000,112.351000,111.132000
4,world_PE_by_commodity,EJ/Year,PE_geothermal,NaN,NaN,NaN,0.240555,0.249827,0.257823,0.267857,...,7.077130,6.729580,6.799890,6.949150,7.092140,6.82465,6.960060,6.905350,6.840980,6.567220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171137,Fe_hidden_resources,Mt,LOW_GRADE,NaN,NaN,NaN,128992.000000,127935.000000,126830.000000,125688.000000,...,66756.000000,65861.200000,64974.700000,64096.800000,63227.400000,62366.50000,61514.200000,60670.500000,59835.300000,59008.800000
171138,Fe_hidden_resources,Mt,ULTRALOW_GRADE,NaN,NaN,NaN,176000.000000,175990.000000,175978.000000,175963.000000,...,132301.000000,130580.000000,128867.000000,127163.000000,125469.000000,123787.00000,122116.000000,120458.000000,118813.000000,117183.000000
171139,Fe_hidden_resources,Mt,TRACE_GRADE,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
171140,Fe_hidden_resources,Mt,OCEANS_GRADE,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
171141,relative_RURR_Fe,NaN,NaN,NaN,NaN,NaN,0.915460,0.913680,0.911307,0.908839,...,0.630595,0.620819,0.611116,0.601502,0.591982,0.58256,0.573236,0.564014,0.554894,0.545877

In [213]:
# Rename the column of the file
for scen in scenarios:
    columns = df_duplicates_removed[scen].columns.str.replace("Unnamed:", "Subscript")
    columns = columns.str.replace(".", " ")
    
    # Define the string you want in column names
    search_string = "Subscript"
    counter = 0

    for k in range(len(columns)):
        if search_string in columns[k]:
            columns.values[k] = search_string + " " + str(counter)
            counter += 1

print(columns)
print(columns[2:6])

Index(['Time', 'Year', 'Subscript 0', 'Subscript 1', 'Subscript 2',
       'Subscript 3', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029',
       '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038',
       '2039', '2040', '2041', '2042', '2043', '2044', '2045', '2046', '2047',
       '2048', '2049', '2050', '2051', '2052', '2053', '2054', '2055', '2056',
       '2057', '2058', '2059', '2060', '2061', '2062', '2063', '2064', '2065',
       '2066', '2067', '2068', '2069', '2070'],
      dtype='object')
Index(['Subscript 0', 'Subscript 1', 'Subscript 2', 'Subscript 3'], dtype='object')

In [214]:
for scen in scenarios:
    # Rename columns of subscripts ("Unnamed: X" by "Subscipt X")
    my_dict = {k: v for k, v in zip(df_duplicates_removed[scen].columns[2:6], columns[2:6])}
    
    df_duplicates_removed[scen].rename(columns=my_dict, inplace=True)

     # Rename other columns
    df_duplicates_removed[scen].rename(
    columns={"Time": "Variable", "Year": "Unit", "Subscript": "Subscript 0"},
    inplace=True
    )

    # Insert three columns to define the model, scenario and region in the right place for IAMC format
    if "Model" not in df_duplicates_removed[scen].columns:
        df_duplicates_removed[scen].insert(0, "Model", "WILIAM")
    if "Scenario" not in df_duplicates_removed[scen].columns:
        df_duplicates_removed[scen].insert(1, "Scenario", scen)
    if "Region" not in df_duplicates_removed[scen].columns:
        df_duplicates_removed[scen].insert(2, "Region", "World")
    
    
print(df_duplicates_removed[scen])

         Model  Scenario Region               Variable     Unit  \
0       WILIAM  Policies  World  world_PE_by_commodity  EJ/Year
1       WILIAM  Policies  World  world_PE_by_commodity  EJ/Year
2       WILIAM  Policies  World  world_PE_by_commodity  EJ/Year
3       WILIAM  Policies  World  world_PE_by_commodity  EJ/Year
4       WILIAM  Policies  World  world_PE_by_commodity  EJ/Year
...        ...       ...    ...                    ...      ...
171137  WILIAM  Policies  World    Fe_hidden_resources       Mt
171138  WILIAM  Policies  World    Fe_hidden_resources       Mt
171139  WILIAM  Policies  World    Fe_hidden_resources       Mt
171140  WILIAM  Policies  World    Fe_hidden_resources       Mt
171141  WILIAM  Policies  World       relative_RURR_Fe      NaN

                    Subscript 0 Subscript 1 Subscript 2 Subscript 3  \
0       PE_agriculture_products         NaN         NaN         NaN
1                       PE_coal         NaN         NaN         NaN
2                        PE_oil         NaN         NaN         NaN
3          PE_forestry_products         NaN         NaN         NaN
4                 PE_geothermal         NaN         NaN         NaN
...                         ...         ...         ...         ...
171137                LOW_GRADE         NaN         NaN         NaN
171138           ULTRALOW_GRADE         NaN         NaN         NaN
171139              TRACE_GRADE         NaN         NaN         NaN
171140             OCEANS_GRADE         NaN         NaN         NaN
171141                      NaN         NaN         NaN         NaN

                 2005  ...           2061           2062           2063  \
0            0.028242  ...       2.948760       2.824390       2.727550
1          139.888000  ...     239.392000     238.914000     242.655000
2          202.483000  ...     170.113000     162.348000     159.496000
3           37.127500  ...      98.841200      98.722100     101.700000
4            0.240555  ...       7.077130       6.729580       6.799890
...               ...  ...            ...            ...            ...
171137  128992.000000  ...   66756.000000   65861.200000   64974.700000
171138  176000.000000  ...  132301.000000  130580.000000  128867.000000
171139       0.000000  ...       0.000000       0.000000       0.000000
171140       0.000000  ...       0.000000       0.000000       0.000000
171141       0.915460  ...       0.630595       0.620819       0.611116

                 2064           2065          2066           2067  \
0            2.623520       2.632230       2.47606       2.401450
1          247.283000     252.159000     248.07700     251.761000
2          158.317000     158.668000     151.41400     150.100000
3          105.143000     108.929000     106.94800     109.672000
4            6.949150       7.092140       6.82465       6.960060
...               ...            ...           ...            ...
171137   64096.800000   63227.400000   62366.50000   61514.200000
171138  127163.000000  125469.000000  123787.00000  122116.000000
171139       0.000000       0.000000       0.00000       0.000000
171140       0.000000       0.000000       0.00000       0.000000
171141       0.601502       0.591982       0.58256       0.573236

                 2068           2069           2070
0            2.344890       2.263520       2.172020
1          254.646000     253.793000     249.484000
2          147.932000     144.727000     139.896000
3          112.871000     112.351000     111.132000
4            6.905350       6.840980       6.567220
...               ...            ...            ...
171137   60670.500000   59835.300000   59008.800000
171138  120458.000000  118813.000000  117183.000000
171139       0.000000       0.000000       0.000000
171140       0.000000       0.000000       0.000000
171141       0.564014       0.554894       0.545877

[162311 rows x 75 columns]

In [261]:
# Merge all files into one
df_merged = pd.concat(df_duplicates_removed.values(), ignore_index=True)

print(df_merged.columns)

Index(['Model', 'Scenario', 'Region', 'Variable', 'Unit', 'Subscript 0',
       'Subscript 1', 'Subscript 2', 'Subscript 3', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034',
       '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042', '2043',
       '2044', '2045', '2046', '2047', '2048', '2049', '2050', '2051', '2052',
       '2053', '2054', '2055', '2056', '2057', '2058', '2059', '2060', '2061',
       '2062', '2063', '2064', '2065', '2066', '2067', '2068', '2069', '2070'],
      dtype='object')

In [262]:
# Management of regions from WILIAM to IAMC format

# Dict used to check if the subscripts is a region used in Wiliam. 
existing_country_Wiliam_dict = {
    "EU27": 1,
    "UK": 1,
    "CHINA": 1,
    "EASOC": 1,
    "INDIA": 1,
    "LATAM": 1,
    "RUSSIA": 1,
    "USMCA": 1,
    "LROW": 1,
    "AUSTRIA": 1,
    "BELGIUM": 1,
    "BULGARIA": 1,
    "CROATIA": 1,
    "CYPRUS": 1,
    "CZECH_REPUBLIC": 1,
    "DENMARK": 1,
    "ESTONIA": 1,
    "FINLAND": 1,
    "FRANCE": 1,
    "GERMANY": 1,
    "GREECE": 1,
    "HUNGARY": 1,
    "IRELAND": 1,
    "ITALY": 1,
    "LATVIA": 1,
    "LITHUANIA": 1,
    "LUXEMBOURG": 1,
    "MALTA": 1,
    "NETHERLANDS": 1,
    "POLAND": 1,
    "PORTUGAL": 1,
    "ROMANIA": 1,
    "SLOVAKIA": 1,
    "SLOVENIA": 1,
    "SPAIN": 1,
    "SWEDEN": 1,
}

# Function to open a dictionary
def open_dict(dict_filename):
    # Open the text file containing the dictionary
    try: 
        with open("../Create_Variable_Dict/" + dict_filename, "r") as f:
            # Read the contents of the file
            read_dict_str = f.read()

        # Convert the string representation of the dictionary back to a dictionary object
        read_dict = ast.literal_eval(read_dict_str)
    except Exception:
        print("Error during opening the dictionary file:", dict_filename)
        read_dict = dict()
    return read_dict

# Open the text file containing the country dictionary to translate the country name of Wiliam to the IAMC format.
country_dict = open_dict("country_dict.txt")

# Aggregate the subscripts at the end of the variable
def aggregate_subscript_variable_name(row, counter, existing_country_Wiliam_dict, country_dict):
    for k in range(counter):
        subscript = row["Subscript " + str(k)]

        if k == 0:
            if existing_country_Wiliam_dict.get(subscript) == 1:
                # Give the name of the region for that variable
                row["Region"] = country_dict.get(subscript)

                row["Subscript 0"] = np.nan
                continue

        if not pd.isnull(subscript):
            row["Variable"] = row["Variable"] + "|" + subscript

    return row

# Order the subscript of each variable and give the right region to each row
df_subscripts = df_merged.apply(
    aggregate_subscript_variable_name, args=(counter, existing_country_Wiliam_dict, country_dict),axis=1)

print(df_subscripts['Variable'])

0         world_PE_by_commodity
1         world_PE_by_commodity
2         world_PE_by_commodity
3         world_PE_by_commodity
4         world_PE_by_commodity
                  ...
324617      Fe_hidden_resources
324618      Fe_hidden_resources
324619      Fe_hidden_resources
324620      Fe_hidden_resources
324621         relative_RURR_Fe
Name: Variable, Length: 324622, dtype: object

In [264]:
 # Remove the subscript columns once they have been alreday added at the end of the variable name
drop_columns_list = ["Subscript " + str(k) for k in range(counter)]

df_subscripts.drop(columns=drop_columns_list, inplace=True)

print(df_subscripts['Variable'])

0         world_PE_by_commodity|PE_agriculture_products
1                         world_PE_by_commodity|PE_coal
2                          world_PE_by_commodity|PE_oil
3            world_PE_by_commodity|PE_forestry_products
4                   world_PE_by_commodity|PE_geothermal
                              ...
324617                    Fe_hidden_resources|LOW_GRADE
324618               Fe_hidden_resources|ULTRALOW_GRADE
324619                  Fe_hidden_resources|TRACE_GRADE
324620                 Fe_hidden_resources|OCEANS_GRADE
324621                                 relative_RURR_Fe
Name: Variable, Length: 324622, dtype: object

In [265]:
# Open the text file containing the dictionary to translate each variable name of Wiliam to IAMC format.
variable_name_dict = open_dict("variable_name_dict.txt")

# Create a list to save  the variables with a missing translation.
missing_variable = []

# Create a new column in the dataframe for selecting translated variables
df_subscripts['Translation'] = False

# Function to replace and track missing values
def replace_and_track(row, variable_name_dict,missing_variable):

    # If it exists, get the name translated to IAMC format. 
    translation_name = variable_name_dict.get(row["Variable"], None)

    if translation_name:
        # Modify the row to provide the IAMC-format name
        row["Variable"] = translation_name
        # Turn to "True" to verify the translation in the dataframe
        row["Translation"] = True
        return row
    else:
        # Add the missing variable to the list of untranslated variable. 
        missing_variable.append(row["Variable"])
        return row
    
# Apply the translation function of the variable name's column to respect the IAMC format
df_variables_translated = df_subscripts.apply(
    replace_and_track, args=(variable_name_dict, missing_variable), axis=1
)

df_variables_translated['Variable']

In [269]:
# Remove the untranslated variable of the dataframe
df_variables_translated = df_variables_translated.loc[df_variables_translated.Translation,:]

In [271]:
# Create the aggregations rows in the dataframe

# Open the text file containing the aggregation dictionary
aggregation_dict = open_dict("aggregation_dict.txt")

# Function to create the aggregations per row
def aggregate_rows(df, aggregations):
    # List of new rows
    new_rows = []
    # Get the list of all regions
    regions = df['Region'].unique()

    for region in regions:
        # Filter the dataframe on the actual region
        df_region = df[df['Region'] == region]
        for names, new_name in aggregations.items():
            # Check if all the names are present
            if all(name in df_region["Variable"].values for name in names):
                # Filter the dataframe with the names of interest
                df_subset = df_region[df_region["Variable"].isin(names)]

                # Compute the sum of the aggregation of the value
                summed_values = df_subset.drop(columns=["Variable", "Unit", "Model", "Scenario", "Region"]).sum()

                # Create the new aggreagted rows
                new_row = {
                    "Model": df_subset["Model"].iloc[0],
                    "Scenario": df_subset["Scenario"].iloc[0],
                    "Region": region,
                    "Variable": new_name,
                    "Unit": df_subset["Unit"].iloc[0],
                    ** summed_values.to_dict(),
                }
                new_rows.append(new_row)

    # Create a dataframe with the new rows
    new_df = pd.DataFrame(new_rows)

    # Concatenate the two dataframe to get the aggregated rows
    df_final = pd.concat([df, new_df], ignore_index=True)

    return df_final

# Apply the function to sum values of aggregations 
df_aggregations = aggregate_rows(df_variables_translated, aggregation_dict)

In [275]:
# Create the path for the file containing the missing variable
print("The translation of ", len(missing_variable),
    " variables are missing. You can find all the translation in the file called new_variable_name_dict.txt")

# Process the automatic translation of missing variables. 
translation_helpers.create_automatic_translation(missing_variable)

The translation of  17500  variables are missing. You can find all the translation in the file called new_variable_name_dict.txt

In [277]:
# Write the new excel file in the File_Converted folder
folder_file_converted = os.path.join(folder_path, folder_name_converted)

# Create the correct naming and extension (Excel or CSV) for the converted file
filename_output = ("Results_converted" + files_name_extension[0][1])
print(filename_output)

Results_converted.csv

In [290]:
# Check for duplicate rows
duplicate_rows = df_aggregations[
    df_aggregations.duplicated(subset=["Region", "Scenario", "Variable", "Unit"])
]

# Count the number of duplicate rows. Normally we should find zero duplicates.
num_duplicated_rows = duplicate_rows.shape[0]
if num_duplicated_rows > 0:
    print("Number of Duplicate Rows:", num_duplicated_rows)

# Remove duplicate rows
df_aggregations.drop_duplicates(subset=["Region", "Scenario", "Variable", "Unit"], inplace=True)
df_final_output = df_aggregations.copy()